
@{
    ViewData["Title"] = "PropertySingle";
    Layout = "~/Views/Shared/_DefaultLayot.cshtml";
}

<section class="w3l-about-breadcrumb">
    <div class="breadcrumb-bg breadcrumb-bg-about pt-5">
        <div class="container pt-lg-5 py-3">
        </div>
    </div>
</section>
<section class="w3l-breadcrumb">
    <div class="container">
        <ul class="breadcrumbs-custom-path">
            <li><a href="index.html">Home</a></li>
            <li class="active"><span class="fa fa-angle-right mx-2" aria-hidden="true"></span> Property</li>
            <li class="active"><span class="fa fa-angle-right mx-2" aria-hidden="true"></span> property single</li>
        </ul>
    </div>
</section>
<!--/blog-post-->
<section class="w3l-blog post-content py-5">
    <div class="container py-lg-4 py-md-3 py-2">
        <div class="inner mb-4">
            <ul class="blog-single-author-date align-items-center">
                <li>
                    <div class="listing-category"><span>@ViewBag.type </span></div>
                </li>
                <li><span class="fa fa-clock-o"></span>@ViewBag.Datetime</li>
                <li><span class="fa fa-eye"></span> 250 views</li>
            </ul>
        </div>
        <div class="post-content">
            <h2 class="title-single">@ViewBag.title1</h2>
        </div>
        <div class="blo-singl mb-4">
            <ul class="blog-single-author-date align-items-center">
                <li>
                    <p>@ViewBag.address @ViewBag.district/@ViewBag.city</p>
                </li>
                <li><span class="fa fa-bed"></span>@ViewBag.bedCount</li>
                <li><span class="fa fa-bath"></span>@ViewBag.bathCount Banyo</li>
                <li><span class="fa fa-share-square-o"></span>@ViewBag.size Mt</li>
            </ul>
            <ul class="share-post">
                <a href="#url" class="cost-estate m-o">@ViewBag.price</a>
            </ul>
        </div> 
        <div class="row">
            <div class="col-lg-8 w3l-news">
                <div class="blog-single-post">
                    @await Component.InvokeAsync("_PropertSliderComponentPartial", new {id = ViewBag.i})

                    <div class="single-post-content">
                        <h3 class="post-content-title mb-3">Description</h3>
                        <p class="mb-4">
                            @ViewBag.description
                        </p>
                        
                        <div class="single-bg-white">
                            <h3 class="post-content-title mb-4">İlan Detayları</h3>
                            <ul class="details-list">
                                <li><strong>Property id :</strong>@ViewBag.ProductID </li>
                                <li><strong>Property size :</strong>@ViewBag.size</li>
                                <li><strong>Rooms :</strong>@ViewBag.roomCount</li>
                                <li><strong>Bedrooms :</strong>@ViewBag.bedCount</li>
                                <li><strong>Bathrooms :</strong>@ViewBag.bathCount</li>
                                <li><strong>Exterior material :</strong> Brick </li>
                                <li><strong>Structure type :</strong> Wood </li>
                                <li><strong>Garage size :</strong>@ViewBag.garagesize Araba</li>
                                <li><strong>Garages :</strong>1</li>
                                <li><strong>Property Price :</strong>₺ @ViewBag.price</li>
                                <li><strong>Built Year :</strong>@ViewBag.buildyear</li>
                                <li><strong>Avaiable from :</strong> Aug 2019 </li>
                            </ul>
                        </div>
                        @await Component.InvokeAsync("_PropertyAmenityStatusToTrueByPropertyIdComponentPartial")
                       
                    </div>

                    <div class="single-bg-white">
                        <h3 class="post-content-title mb-4">Lokasyon</h3>
                        <div class="agent-map">
                            <iframe src="@ViewBag.location" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                    </div>

                    <div class="single-bg-white mb-0">
                        <h3 class="post-content-title mb-4">Ev Tanıtım Videosu</h3>
                        <div class="post-content">
                            <iframe width="560" height="315" src="@ViewBag.videourl" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        </div>
                    </div>
                </div>
            </div>
            @await Component.InvokeAsync("_PropertyAppUserComponentPartial")

        </div>
    </div>
</section>
